@{
    ViewData["Title"] = "Form Submission Success";
}

<div class="mainDiv">
    <div class="row">
        <div class="col-md-12">
            <center><h1>Form Successful Saved!</h1></center>
        </div>
    </div>
</div>
